
@{
    ViewBag.Title = "Lịch sử";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="card rounded">
                <div style="padding: 10px">
                    <div class="row">
                        <div class="col-lg-3">
                            <h4>Lịch sử</h4>
                            <ul class="list-group mt-3">
                                <li class="list-group-item"><i class="fa fa-history">&nbsp;</i>Tất cả</li>
                                <li class="list-group-item"><i class="fa fa-clock-o">&nbsp;</i>Hôm nay</li>
                                <li class="list-group-item"><i class="fa fa-calendar">&nbsp;</i>Hôm qua</li>
                                <li class="list-group-item"><i class="fa fa-hourglass">&nbsp;</i>Tuần trước</li>
                                <li class="list-group-item"><i class="fa fa-archive">&nbsp;</i>Cũ hơn</li>
                            </ul>
                        </div>
                        <div class="col-lg-9">
                            <table class="table v" id="his">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
