<div class="menu-block customscroll">
    <div class="sidebar-menu">
        <ul id="accordion-menu">
            <li>
                <a href="/" class="dropdown-toggle no-arrow">
                    <span class="fa fa-cloud-upload">&nbsp;</span><span class="mtext">Tạo báo cáo</span>
                </a>
            </li>
            <li>
                <a href="/" class="dropdown-toggle no-arrow">
                    <span class="fa fa-file">&nbsp;</span><span class="mtext">Quản lý báo cáo</span>
                </a>
            </li>
            <li>
                <a href="/" class="dropdown-toggle no-arrow">
                    <span class="fa fa-pie-chart">&nbsp;</span><span class="mtext">Thống kê</span>
                </a>
            </li>
        </ul>
    </div>
</div>
